.first
  position: absolute
  right: 0
  bottom: 0

  width: 473px
  height: 100%
  padding-top: 20px
  padding-bottom: 15px

  &__header
    display: block
    margin: 0 auto
    line-height: normal;
    font-size: 28px;
    text-align: center;

    color: #FFFFFF;

  &__text
    margin: 0 auto
    margin-top: 5px
    display: block
    line-height: normal;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;

  &__link
    color #FBB601

@media screen and (max-width: 1367px)
  .first
    &__header
      font-size: 24px