.loader
  &__text
    line-height: 34px;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: #E5EFF7;

  &__index
    font-size: 1.3em

    color: #FBB601

  &__bar
    width: 352px;
    height: 2px;
    left: 121px;
    top: 281px;

    background: rgba(115, 135, 160, 0.5);
    border-radius: 1px;

  &__progress
    width: 89px;
    height: 2px;

    background: linear-gradient(269.03deg, #FBB601 0%, #F2994A 99.99%);
    border-radius: 1px;
