.container
  width: 100%
  height: 100%
  margin: 0

  &--slider
    background: linear-gradient(360deg, rgba(29, 59, 94, 0.5) 18.12%, rgba(102, 124, 152, 0.3) 65.62%), rgba(0,0,0, 0.1)
    z-index 1
    position: fixed

    top: 0
    bottom: 0
    right: 0
    left: 0

.wrapper
  margin-left 125px
  width: 715px

.page-header
  margin-top: 45px
  display: flex
  justify-content space-between

.contacts
  display: flex
  flex-direction column

  &__tel
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    text-decoration: none

    color: #92A1B0;

    span
      font-weight: 500
      color: #000000;

  &__callback
    margin-left: 25px;

    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.02em;
    text-decoration-line: underline;

    color: #3079FF;
    cursor pointer


.enter
  .contacts
    &__tel
      color #ffffff

      span
        color #ffffff

    &__callback
      color #ffffff

@media screen and (max-width: 1367px)
  .page-header
    margin-top: 25px