.sidebar
  position: fixed
  right: 0
  top: 0
  bottom: 0

  width: 473px
  height: 100%

  background-color #206FCD
  background-image: url("../img/bg_sidebar.png");
  background-position: -6px 0

  background-size: cover
  background-repeat: no-repeat


