.sign
  &__header
    margin-top: 111px
    margin-bottom: 0

    font-weight: 400
    line-height: normal;
    font-size: 64px;
    letter-spacing: -0.05em;
    color: #3079FF;

  &__header-text
    margin-top: 0px

    line-height: 42px;
    font-size: 30px;
    letter-spacing: -0.02em;
    color: #5A6176;