.slider
  min-height: 500px

  &__header
    font-weight: 500;
    line-height: 76px;
    font-size: 72px;
    letter-spacing: -0.05em;
    color: #FBB601

    &--1
      line-height: 67px;
      font-size: 64px;

  &__text
    font-weight: normal;
    line-height: 42px;
    font-size: 30px;
    letter-spacing: -0.02em;

    color: #E5EFF7;

.swiper-container
  min-height: 630px
  margin-top: 80px/*180*/

.swiper-button-prev, .swiper-button-next
  bottom: 15px
  top: auto
  z-index: 5
  width: 40px
  height: 40px
  background-image: none
  border-radius 50%
  border: 2px solid #A5B1BE;
  transition border-color 0.3s ease-in-out

  &:before
    position: absolute
    top: 11px
    left: 9px
    content: '';
    width: 11px
    height: 11px
    border none
    border-bottom: 2px solid #A5B1BE;
    border-right: 2px solid #A5B1BE;

  &:hover
    border-color #FBB601

    &:before
      border-color #FBB601

.swiper-button-prev
  left:0px;
  &:before
    left: 14px
    transform rotate(135deg)
.swiper-button-next
  left: 50px;
  &:before
    transform rotate(-45deg)


@media screen and (max-width: 1367px)
  .slider
    min-height: 500px

    &__header
      font-size: 32px
      line-height: 1em;
    &__text

      line-height: 36px;
      font-size: 24px;
  .swiper-container
    min-height: 450px
    margin-top: 30px