<main class="message">
    <img src="img/mailicon.png" alt="Проверьте почту" class="message__img" width="256">
    <h2 class="message__header" id="header">Уважаемый, пользователь! </h2>
    <p class="message__text" id="messageText">Вам на&nbsp;почту отправлено письмо с&nbsp;кодом подтверждения</p>
    <div class="attention">
        <span class="attention__header"><span class="attention__uppertext">3</span> дня</span>
        <p class="attention__text">Ссылка действительна в течение трех дней.<br>После истечения этого срока потребуется повторная регистрация</p>
    </div>
    <p class="message__list-header">Если вы не получили письмо:</p>
    <ul class="message__list">
        <li class="message__item">Вы&nbsp;ввели не&nbsp;верный адрес почты. Проверьте правильность его написания.</li>
        <li class="message__item">Вы&nbsp;не&nbsp;прошли по&nbsp;ссылке, отправленной на&nbsp;вашу эл.почту после регистрации</li>
    </ul>
</main>