<div class="modal" id="modal">
    <div class="modal__head"></div>
    <h3 class="modal__h3">Этот адрес электронной почты у&nbsp;нас не&nbsp;зарегистрирован.</h3>
    <p class="modal__text">Это возможно, если:</p>
    <ul class="modal__list">
        <li class="modal__item">Вы&nbsp;ввели не&nbsp;верный адрес почты. Проверьте правильность его написания.</li>
        <li class="modal__item">Вы&nbsp;не&nbsp;прошли по&nbsp;ссылке, отправленной на&nbsp;вашу эл.почту после регистрации</li>
    </ul>
    <p class="modal__text-bottom">Пройдите по&nbsp;ссылке из&nbsp;письма<br>или зарегистрируйтесь повторно!</p>
    <button class="modal__btn" type="button" id="modalBtn">Сейчас проверю</button>
</div>