<div class="backcall-window" id="callbackModal">
    <button class="backcall-window__close"  id="backcallClose"></button>
    <div class="backcall-window__wrapper">
        <p class="backcall-window__text">
           <!-- <span class="backcall-window__text-header">У&nbsp;Вас есть вопросы?</span>--> Мы&nbsp;перезвоним Вам в&nbsp;течение 7-ми минут и&nbsp;поможем подобрать лучшее решение для приёма платежей</p>
        <form class="backcall-window__form" id="backcall_form" method="post" >
            <input class="backcall-window__form-name" type="text" name="name" placeholder="Ваше имя" maxlength="35">
            <input class="backcall-window__form-tel" type="tel" name="tel" placeholder="+7 (___) __ __ ___" id="callbackTel">
            <textarea class="backcall-window__form-text" name="text" placeholder="Ваш вопрос" maxlength="300"></textarea>
            <button class="backcall-window__form-callme" type="submit" id="backcallBtn">Перезвоните мне</button>
        </form>
    </div>
