        <footer class="page__footer">
            <span class="copy">&copy;&nbsp;&laquo;Центральная касса&raquo; 2018</span>
            <ul class="social__list">
                <li class="social__item">
                    <a href="" class="social__link">
                        <img src="img/icons-svg/ic_vk.svg" alt="Мы в ВК" class="social__logo" width="40" height="40">
                    </a>
                </li>
                <li class="social__item">
                    <a href="" class="social__link">
                        <img src="img/icons-svg/ic_facebook.svg" alt="Мы в Фейсбук" class="social__logo" width="40" height="40">
                    </a>
                </li>
                <li class="social__item">
                    <a href="" class="social__link">
                        <img src="img/icons-svg/ic_telegram.svg" alt="Мы в Телеграм" class="social__logo" width="40" height="40">
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</div>