    <div class="sidebar">
        <div class="sidebar__wrap">
            <h2 class="login__header">Вход в&nbsp;личный кабинет&nbsp;ЦК</h2>
            <p class="login__text">
                Логином является адрес электронной почты, который вы&nbsp;подтвердили после регистрации
            </p>
            <form class="login" method="post">
                <div class="login__input-wrap" id="loginWrap">
                    <input type="text" class="login__input" name="fullname" placeholder="Логин" id="login">
                </div>
                <div class="login__input-wrap" id="passWrap">
                    <input type="password" class="login__input" name="email" placeholder="Пароль" id="pass">
                </div>
                <div class="login__input-wrap--not-use">
                    <!--<input type="checkbox" name="remember" class="remember__input" id="remember">
                    <label for="remember" class="remember__label">
                        Запомнить логин пароль<br>для данного устройства
                    </label>-->
                    <span class="restore">Забыли пароль? <a class="restore__link">Восстановить</a></span>
                </div>

                <button class="login__submit" type="button" id="submitLogin" disabled>Войти</button>

            </form>
        </div>

    </div>

</div>
</div>