<div class="sidebar">
    <div class="sidebar__wrap">
        <h2 class="login__header"></h2>
        <p class="login texr"></p>
        <form action="login.php" class="login" method="post">
            <div class="login__input-wrap">
                <input type="text" class="login__input" name="fullname" placeholder="Ваши Ф.И.О" >
            </div>
            <div class="login__input-wrap">
                <input type="tel" class="login__input" name="tel" placeholder="Телефон">
            </div>
            <div class="login__input-wrap">
                <input type="email" class="login__input" name="email" placeholder="E-mail">
            </div>
            <div class="login__input-wrap">
                <input type="checkbox" name="remember" class="remember__input" id="remember">
                <label for="remember" class="remember__label">
                    Запомнить логин пароль для данного устройства
                </label>
            </div>

            <button class="login__submit" type="submit" id="submitLogin">Войти</button>

        </form>
    </div>

</div>