<div class="sidebar">
    <div class="sidebar__wrap">
        <h2 class="login__header">Вход в&nbsp;личный кабинет&nbsp;ЦК</h2>
        <p class="login__text">
            Логином является адрес электронной почты, который вы&nbsp;подтвердили после регистрации
        </p>
        <form action="login.php" class="login" method="post">
            <div class="login__input-wrap">
                <input type="text" class="login__input" name="fullname" placeholder="Логин" >
            </div>
            <div class="login__input-wrap">
                <input type="password" class="login__input" name="email" placeholder="Пароль">
            </div>
            <div class="login__input-wrap">
                <input type="checkbox" name="remember" class="remember__input" id="remember">
                <label for="remember" class="remember__label">
                    Запомнить логин пароль для данного устройства
                </label>
            </div>

            <button class="login__submit" type="submit" id="submitLogin">Войти</button>

        </form>
    </div>

</div>