<main class="sign">
    <h1 class="sign__header">Регистрация</h1>
    <p class="sign__header-text">
        для начала работы с&nbsp;платежной системой &laquo;Центральная касса&raquo; пройдите регистрацию
    </p>
    <form action="sign.php" class="sign__form" method="post">
        <div class="sign__input-wrap">
            <input type="text" class="sign__input" name="fullname" placeholder="Ваши Ф.И.О" >
        </div>
        <div class="sign__input-wrap">
            <input type="tel" class="sign__input" name="tel" placeholder="Телефон">
        </div>
        <div class="sign__input-wrap">
            <input type="email" class="sign__input" name="email" placeholder="E-mail">
        </div>
        <div class="sign__input-wrap">
            <input type="checkbox" name="accept" class="accept__input" id="accept">
            <label for="accept" class="accept__label">Я&nbsp;даю согласие на&nbsp;обработку моих персональных данных и&nbsp;принимаю
                <a class="accept__link">условия публичной оферты</a></label>
        </div>

        <button class="sign__submit" type="submit" id="submitSign">Регистрация</button>

    </form>
</main>