<main class="slider">
    <div class="swiper-container">
        <div class="loader">
            <p class="loader__text">
                <span class="loader__index" id="loaderIndex">1</span>/4
            </p>
            <div class="loader__bar">
                <div class="loader__progress" id="loaderProgressBar"></div>
            </div>
        </div>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <h2 class="slider__header slider__header--1">Добро пожаловать<br>в&nbsp;личный кабинет<br>ЦК&nbsp;для бизнеса</h2>
                <p class="slider__text">
                    Подключите платежную систему &laquo;Центральная касса&raquo; и&nbsp;принимайте онлайн-платежи за&nbsp;интернет,
                    кабельное&nbsp;ТВ, диспетчерские услуги, ЖКХ, охрану, а&nbsp;также товары и&nbsp;услуги в&nbsp;интернет-магазинах.
                </p>
            </div>
            <div class="swiper-slide">
                <h2 class="slider__header">Простое<br>подключение</h2>
                <p class="slider__text">
                    Заключите договор и&nbsp;начните принимать платежи уже через 2&nbsp;дня.
                    Работаем по&nbsp;разным типовым протоколам. Выдаем API для оплаты картой в&nbsp;вашем приложении.
                </p>
            </div>
            <div class="swiper-slide">
                <h2 class="slider__header">Максимальное<br>удобство</h2>
                <p class="slider__text">
                    Заключите договор так, как вам удобно: самостоятельно или с&nbsp;помощью персонального менеджера.
                </p>
            </div>
            <div class="swiper-slide">
                <h2 class="slider__header">Управление<br>онлайн</h2>
                <p class="slider__text">
                    Сообщите нам необходимую информацию о&nbsp;вашей компании и&nbsp;мы&nbsp;подберем для
                    вас самый выгодный тариф, а&nbsp;также форму обмена информацией о&nbsp;принятых платежах.
                </p>
            </div>

        </div>


        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>


    </div>
</main>