@@include('blocks/page__header.html', {
    "page-title": "Регистрация - Личный кабинет ЦК для бизнеса",
    "page-header--inner": ""
})
@@include('blocks/sign.html')
        <footer class="page__footer">
            <span class="copy">&copy;&nbsp;&laquo;Центральная касса&raquo; 2018</span>
            <ul class="social__list">
                <li class="social__item">
                    <a href="" class="social__link">
                        <img src="" alt="Мы в ВК" class="social__logo">
                    </a>
                </li>
                <li class="social__item">
                    <a href="" class="social__link">
                        <img src="" alt="Мы в Фейсбук" class="social__logo">
                    </a>
                </li>
                <li class="social__item">
                    <a href="" class="social__link">
                        <img src="" alt="Мы в Телеграм" class="social__logo">
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</div>
@@include('blocks/sidebar.html')
<script src="app.js"></script>
</body>
</html>